div{
    display: inline-block;
    height: 100px;
    width: 100px;
    background-color: green;
    transition: all 0.5s ease-in-out;
}
div:hover{
    transform: translate(200px);
    height: 500px;
    width: 400px;
    background-color: bisque;
    border :2px dotted green;
    border-radius: 60px;
}